.item1 {
  grid-area: LOGO;
}

.item2 {
  grid-area: MENU;
}

.item3 {
  grid-area: IMAGE_SLIDESHOW;
  padding-top: 200px;
}

.item4 {
  grid-area: FEAT_1;
}

.item5 {
  grid-area: FEAT_2;
}

.item6 {
  grid-area: FEAT_3;
}

.item7 {
  grid-area: SLIDEBAR;
}

.item8 {
  grid-area: TEXT_CONTENT;
}

.item9 {
  grid-area: FOOTER;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'LOGO MENU MENU'
    'IMAGE_SLIDESHOW IMAGE_SLIDESHOW IMAGE_SLIDESHOW'
    'FEAT_1 FEAT_2 FEAT_3'
    'SLIDEBAR TEXT_CONTENT TEXT_CONTENT'
    'FOOTER FOOTER FOOTER';
  gap: 10px;
  background-color: grey;
  padding: 10px;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  color: white;
  padding: 20px 0;
  font-size: 30px;
}