.part1{
    position: relative;
}

.part1 h1 {
    color: white;
    font-size: 5vw;
    position: absolute;
    top:14vw;
    left:9vw;
}

.part2 h1{
    text-align: center;
    font-size: 2.5vw;
    color: #626262;
}

.part2 h2{
    padding: 0vw 6.5vw;
    font-size: 1.7vw;
    color: #626262;
    margin-top: 4vw;
}

.table{
    display: flex;
    margin  : 0vw 6.5vw;
}

.table div{
    flex:1;
    border: solid #626262 0.1vw;
}

.table h1{
    font-size: 2vw;
    margin: 1vw 0vw;
}

.table h2{
    padding: 0vw;
    margin: 0;
    margin-bottom: 1vw;
    text-align: center;
    font-size: 1.5vw;
    color: #5C2000;
}

.part3{
    position: relative;
}

.part3 h1{
    font-size: 2.5vw;
    text-align: center;
}

.word{
    padding-right: 5vw;
    position: absolute;
    left: 40vw;
    top: 8vw;
}

.president{
    position: absolute;
    left: 46vw;
    top: 21vw;
}

.part4 {
    color: #626262;
    font-size: 1.9vw;
    text-align: center;
    margin-top: 5vw;
    position: relative;
    margin-bottom: 15vw;
}

.part4logo {
    position: absolute;
    left: 35vw;
}

.part4logo2 {
    position: absolute;
    left: 53vw;
}

.send{
    font-size: 2vw;
    padding: 0vw 0.8vw;

}

@media screen and (max-width:375px) {
    .part1 h1{
        text-align: center;
        font-size: 16vw;
        position: absolute;
        top: 3vw;
        left: 17vw;
        margin-top: 0;
    }

    .part2 h1{
        text-align: left;
        font-size: 7vw;
        margin: 5vw 2.1vw;
    }

    .part2 h2{
        font-size: 5vw;
        padding: 5vw 2.1vw;
    }

    .table{
        flex-direction: column;
    }

    .table h1{
        text-align: center;
        margin: 3vw 0vw;
    }

    .table h2{
        padding: 2vw 0vw;
    }

    .part3 h1{
        font-size: 4vw;
    }

    .word{
        position: absolute;
        left: 40vw;
        top: 0.1vw;
        padding: 0;
    }
    
    .president{
        position: absolute;
        left: 42vw;
        top: 22vw;
    }

    .part4 {
        margin-bottom: 30vw;
    }

    .part4logo {
        width: 20%;
        position: absolute;
        left: 20vw;
    }

    .part4logo2 {
        width: 20%;
        position: absolute;
        left: 60vw;
    }

    .send {
        position: absolute;
        left: 70vw;
        top: 105vw;
        padding: 3.5vw 11vw;
        font-size: 4vw;
    }
}