body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 6vw;
    background: #CFCFCF;
    display: flex;
}

.header div {
    flex: 1;
}

.logonname {
    display: flex;
    margin-left: 5vw;
}

.logonname img {
    width: 12%;
    height: 87%;
    margin-top: 0.3vw;
}

.logonname h1 {
    margin-top: 1vw;
    color: #626262;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
}

.logonname a{
    text-decoration: none;
}

.middletopnav {
    display: flex;
}


.middletopnav a {
    display: block;
    color: #626262;
    text-align: center;
    padding: 2vw 1.5vw;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
}

#hiddenbar {
    border-radius: 10px;
    margin: 10px 0 10px 0;
    color: black;
    padding: 12px 15px 22px 15px;
}

.middletopnav a:hover {
    color: black;
}

.topnav .icon {
    display: none;
}

#overlay {
    height: 100%;
    width: 0;
    position: fixed;
    background-color: #CFCFCF;
    overflow-x: hidden;
    transition: 1s;
    z-index: 2;
}

.overlay-content {
    position: relative;
    top: 25%;
    text-align: center;
    margin-top: 30px;
}


#overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: #626262;
    display: block;
    transition: 0.1s;
}

#overlay a:hover,
#overlay a:focus {
    color: #00d0ff;
    font-size: 4vw;
}

#overlay .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 60px;
}

.footer {
    display: flex;
    background-color: #cfcfcf;
    padding-bottom: 8vw;
    position: relative;
}

.footer div {
    flex: 1;
    margin-top: 1vw;
}

.footer h1 {
    color: #626262;
    font-size: 1.9vw;
}

.footermenu {
    margin-left: 3vw;
}

.footermenu a {
    text-decoration: none;
    color: #626262;
    font-size: 1vw;
    font-weight: 700;
}

.footermenu a:hover {
    text-decoration: underline;
}

.media img{
    width: 10%;
}

.search h2 {
    color: #626262;
    font-size: 1.6vw;
    font-weight: 500;
}

.footer h3 {
    font-size: 1.5vw;
    color: #626262;
}

.cright {
    position: absolute;
    top: 17vw;
    left: 2vw;
}

.term {
    position: absolute;
    top: 17vw;
    left: 65vw;
}

.privacy {
    position: absolute;
    top: 17vw;
    left: 75vw;
    border-left: 0.1vw black solid;
}

.form {
    border: none;
    padding: 0.5vw 4vw 0.5vw 0.5vw;
    font-size: 1vw;
}

.send {
    background-color: #A6D1E6;
    border: none;
    color: white;
    padding: 0.5vw 1vw;
}

.about {
    position: absolute;
    left: 3vw;
    top: 4vw;
}

.team {
    position: absolute;
    left: 3vw;
    top: 7vw;
}

.menumedia {
    position: absolute;
    left: 3vw;
    top: 10vw;
}

.contact {
    position: absolute;
    left: 3vw;
    top: 13vw;
}

@media screen and (max-width:375px) {

    .header {
        padding-bottom: 11vw;
    }

    .logonname img {
        width: 15vw;
        height: 15vw;
    }

    .logonname h1 {
        margin-top: 5vw;
        margin-left: 1vw;
        font-size: 5vw;
    }

    .middletopnav a,
    .righttopnav a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .footer {
        padding-bottom: 130vw;
        position: relative;
    }

    .footer h1{
        font-size: 5vw;
    }

    .footermenu h1 {
        position: absolute;
        left:10vw;
    }

    .footermenu a {
        font-size: 3.5vw;
    }

    .about {
        position: absolute;
        top: 12vw;
        left: 10vw;
    }

    .team {
        position: absolute;
        top: 22vw;
        left: 10vw;
    }

    .menumedia {
        position: absolute;
        top: 32vw;
        left: 10vw;
    }

    .contact {
        position: absolute;
        top: 42vw;
        left: 10vw;
    }

    .media h1{
        position: absolute;
        left:57vw;
    }

    .fb img{
        width: 50%;
        position: relative;
        left: 30vw;
        top:13vw;
    }

    .ig img{
        width: 50%;
        position: relative;
        left: 45vw;
    }

    .code h1{
        position: absolute;
        left:57vw;
        top:27vw;
    }

    .code img{
        width: 30%;
        position: absolute;
        top:40vw;
        left: 57vw;
    }

    .search h1{
        position: absolute;
        left:10vw;
        top:75vw;
    }

    .search h2{
        position: absolute;
        left:10vw;
        top:85vw;  
        font-size: 4.5vw;
    }

    .form{
        position: absolute;
        left:10vw;
        top:105vw;  
        font-size: 4.5vw;
        padding-top: 3vw;
        padding-bottom: 3vw;
    }

    .send{
        position: absolute;
        left:70vw;
        top:105vw;  
        padding: 3vw 7vw;
    }

    .term{
        position: absolute;
        left:10vw;
        top:125vw;  
        font-size: 4.5vw;
    }

    .privacy{
        position: absolute;
        left:50vw;
        top:125vw;  
        font-size: 4.5vw;
    }

    .cright{
        position: absolute;
        left:10vw;
        top:145vw;  
        font-size: 4.5vw;
    }

    .footer h3{
        font-size: 4vw;
    }
}