div.a {
    background-image: url(../img/big.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
}

div.b {
    background-image: url(../img/small.png);
    background-size:contain;
}